/* video chat css */

/* .videoComponent {
  margin-left: 10vw;
  margin-right: 10vw;
}

.transcription {
  background-color: darkgrey;
  display: block;
  margin-left: 30vw;
  margin-right: 30vw;
}

.captionOptions {
  padding-left: 30%;
} */
