.time {
  margin: 10px;
}
.selectDate {
  margin: 15px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.timeLabel {
  flex-direction: column;
  display: flex;
}
.languageContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.language {
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* align-self: center; */
}