.modal {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #5858585b;
}


.form {
  background-color: #cbd18f;
  position: absolute;
  height: 35%;
  width: 35%;
  left: 35%;
  top: 40%;
}